.gradle
*.iml
.DS_Store
.directory
/local.properties
/gradle.properties
/.idea
/build
app/src/main/res/drawable*/*.png
.classpath
.project
.settings/
android-support-v7-appcompat/
app/manifest-merger-release-report.txt
app/src/main/jni/sx_wrap.h
bin/
jni/
obj/

