<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skylable.sx" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.skylable.sx.app.SxApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.activities.ActivityMain"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.ActivitySettings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activities.ActivityMain"
            android:windowSoftInputMode="adjustResize"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ActivityMain" />
        </activity>

        <activity
            android:name=".ui.activities.ActivityAccountSettings"
            android:label="@string/about_title"
            android:parentActivityName=".ui.activities.ActivitySettings"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.ActivitySettings" />
        </activity>

        <activity android:name=".ui.activities.ActivityAccount"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity android:name=".ui.activities.ActivityAccountFromUrl"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:parentActivityName=".ui.activities.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sx" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.ActivityUploadFile"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="multipart/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.AboutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/about_title" />

        <service
            android:name="com.skylable.sx.sxdrive2.AccountAuthenticatorService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="com.skylable.sx.sxdrive2.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="com.skylable.sx.sxdrive2.SxContentProvider"
            android:authorities="@string/authority"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>

<!-- manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skylable.sx">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name="com.skylable.sx.app.SxApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name="com.skylable.sx.ui.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.skylable.sx.ui.activity.UploadActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/uploading"
            android:launchMode="singleTask" />

        <activity
            android:name="com.skylable.sx.ui.activity.LocalDirectoryPickerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/export"
            android:launchMode="singleTask" />

        <activity
            android:name="com.skylable.sx.auth.SxAuthActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sx" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.skylable.sx.enterprise.EnterpriseLoginActivity"
            android:exported="true"
            android:label="@string/title_activity_enterprise_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <activity
            android:name="com.skylable.sx.ui.activity.DirectoryPickerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/share_to"
            android:theme="@style/Theme.FloatingWindow.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="multipart/*" />
            </intent-filter>
        </activity>

        <service
            android:name="com.skylable.sx.auth.SxAuthService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="com.skylable.sx.sync.SxSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service
            android:name="com.skylable.sx.sync.SxDownloadService"
            android:exported="false" />
        <service
            android:name="com.skylable.sx.sync.SxUploadService"
            android:exported="false" />

        <receiver
            android:name="com.skylable.sx.auth.SxBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.skylable.sx.providers.SxContentProvider"
            android:authorities="@string/authority"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/authority_files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest> -->
